.blur-pollify {
    @include border-radius(50%);
}
.widget-menu {
    font-size: 12px;
    position: absolute;
    width:calc(100% - 30px);
    .icon.active {
        background-color:rgba(0,0,0,0.1);
        color:white;
    }
    hr {
        opacity:0.1;
    }
    ul.widget-menu-list {
        background:none;
        li {
            @include animation(box-flyin, 0s, 1.5s);
            display : inline-block;
            cursor  : pointer;
            padding:5px;
            overflow: hidden;
            position: relative;
            float:right;
            @include transition();
            opacity:0.8;
            background:none;
            @include box-sizing();
            &:hover {
                opacity:1;
            }
            i {
                padding:5px;
                background:none;
                font-size: 1.5em;
                color:white;
            }
        }
        &:after {
            @include clearfix();
        }
    }

    .widget-menu-view {

    }

    .widget-menu-edit {

    }
}
