
@mixin half-circle($size){
	height: $size/2;
	width: $size;
	border-radius: $size $size 0 0;
	-moz-border-radius: $size $size 0 0;
	-webkit-border-radius: $size $size 0 0;
}

.mainButton {
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	cursor: pointer;
	justify-content : center;
	align-items: center;
	color: #ffffff;
	font-weight: lighter;
	border: 1px solid rgba(0, 0, 0, 0.1);

	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);

	.blackHalf, .goldHalf{
		@include half-circle(90px);
	}

	.blackHalf{
		background: blue;
		transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
	.goldHalf{
		background: red;
	}
}

.childButton {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
	color: #8898A5;
}
