/* # Typographic base
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	//.include-font("assets/font/icons/", "openSans"); 
	@import url(http://fonts.googleapis.com/css?family=Oswald:400,800,400italic,700italic,300|PT+Serif:400,800italic,700italic|PT+Serif+Caption|Raleway:400,200,700,900|Merriweather:200,400|Noto+Serif:200,400);

	$font-georgia:          	Georgia, "Times New Roman", Times, serif;

	$font-helvetica:         	"Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	$font-lucida-grande:     	"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	$font-verdana:           	Verdana, Geneva, sans-serif;
	
	$font-pt-serif:				"PtSerif", Times;
	$font-raleway:				"Raleway", sans-serif;
	$font-open-sans:			"Oswald", sans-serif;

	$font-monospace:        	"Bitstream Vera Sans Mono", Consolas, Courier, monospace;

	$ratio: $perfect-fourth;
	
	$title-size: 2.4rem;
	$title-font: "Oswald", monospace;
	$text-size: 1.6rem;
	$text-font: "Open Sans";

	/* NOTE
	html is set to 62.5% so that all the REM measurements throughout Skeleton
	are based on 10px sizing. So basically 1.5rem = 15px :) */
	html 				{ font-size: 62.5%; }
	html, body 			{ width: 100%; height: 100%; }
	body 				{ 
						  font-family: $text-font;
						  @include antialiased();
						  @include font(0, $text-size, $ratio);
						} 

	/* # Titles
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		h1, h2, h3, h4, h5, h6 { 
			font-family: $title-font;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 2rem;
			letter-spacing: 2px;
			line-height: 1.125;
			color:$color-grey-text;
			&a { font-weight: inherit; }
		}
		.article p {
			font-family: "Noto Serif";
			font-size: 1.7rem;
			line-height: 1.5em;
		}

		p, div {
			color:$color-grey-text;
		}
		// h1 { @include font(6, $title-size / 3, $ratio); letter-spacing: -.1rem;}
		// h2 { @include font(5, $title-size / 3, $ratio); letter-spacing: -.1rem;}
		// h3 { @include font(4, $title-size / 3, $ratio); letter-spacing: -.1rem;}
		// h4 { @include font(3, $title-size / 3, $ratio); letter-spacing: -.08rem;}
		// h5 { @include font(2, $title-size / 3, $ratio); letter-spacing: -.05rem;}
		// h6 { @include font(1, $title-size / 3, $ratio); letter-spacing: 0;}

		// @include tablet {			

		// 	h1 { @include font(6, $title-size / 2, $ratio); letter-spacing: -.1rem;}
		// 	h2 { @include font(5, $title-size / 2, $ratio); letter-spacing: -.1rem;}
		// 	h3 { @include font(4, $title-size / 2, $ratio); letter-spacing: -.1rem;}
		// 	h4 { @include font(3, $title-size / 2, $ratio); letter-spacing: -.08rem;}
		// 	h5 { @include font(2, $title-size / 2, $ratio); letter-spacing: -.05rem;}
		// 	h6 { @include font(1, $title-size / 2, $ratio); letter-spacing: 0;}
		// }

		// @include desktop {			

			h1 { @include font(5, $title-size, $ratio); letter-spacing: -.1rem;}
			h2 { @include font(4, $title-size, $ratio); letter-spacing: -.1rem;}
			h3 { @include font(3, $title-size, $ratio); letter-spacing: -.1rem;}
			h4 { @include font(2, $title-size, $ratio); letter-spacing: -.08rem;}
			h5 { @include font(1, $title-size, $ratio); letter-spacing: -.05rem;}
			h6 { @include font(0, $title-size, $ratio); letter-spacing: 0;}
		// }

	/* # Text
	–––––––––––––––––––––––––––––––––––––––––––––––––– */


		em, i, .i       { font-style: italic; }
		strong, b, .b   { font-weight: 800; }
		.smaller 		{ font-size: 75%; }
		small, .small   { font-size: 80%; }
		big, .big		{ font-size: 130%; }
		.bigger			{ font-size: 175%; }
		.biggest		{ font-size: 200%; }
		.lead			{ font-size: 120%; }
		.caps			{ font-variant: small-caps; }

		.text-left 		{ text-align: left; }
		.text-right 	{ text-align: right; }
		.text-center 	{ text-align: center; }
		.text-justify 	{ text-align: justify; text-justify: newspaper; }								

		.breakword 		{ word-wrap: break-word; }
		.normal-wrap 	{ word-wrap: normal; }
		.inherit-wrap 	{ word-wrap: auto; }

		.uppercase 		{ text-transform: uppercase; }
		.lowercase 		{ text-transform: lowercase; }
		.capitalize 	{ text-transform: capitalize; }
		.upper-first	{ display:block; &:first-letter { text-transform: uppercase; }  }
