/* # Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	$color-grey-text:				#3E4149;
	$color-primary:					#ff8900;
	$color-complement:				rgb(100,157,183);
	$color-success:					#149A57;
	$color-info:					#303E73;
	$color-danger:					#D23D29;


	$color-primary-light:			lighten($color-primary, 15%);
	$color-primary-dark:			darken($color-primary, 15%);

	$color-complement-light:		lighten($color-complement, 15%);
	$color-complement-dark:			darken($color-complement, 15%);

	$color-success-dark:			darken($color-success, 15%);
	$color-success-light:			lighten($color-success, 15%);

	$color-info-dark:				darken($color-info, 15%);
	$color-info-light:				lighten($color-info, 15%);

	$color-danger-dark:				darken($color-danger, 15%);
	$color-danger-light:			lighten($color-danger, 15%);


	/* ## Checkbox
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		$color-grey-05:				rgb(250, 250, 250);
		$color-grey-10:				rgb(245, 245, 245);
		$color-grey-15:				rgb(240, 240, 240);
		$color-grey-20:				rgb(235, 235, 235);
		$color-grey-25:				rgb(230, 230, 230);
		$color-grey-30:				rgb(225, 225, 225);
		$color-grey-35:				rgb(220, 220, 220);
		$color-grey-40:				rgb(215, 215, 215);
		$color-grey-45:				rgb(210, 210, 210);
		$color-grey-50:				rgb(205, 205, 205);
		$color-grey-55:				rgb(200, 200, 200);
		$color-grey-60:				rgb(195, 195, 195);
		$color-grey-65:				rgb(190, 190, 190);
		$color-grey-70:				rgb(185, 185, 185);
		$color-grey-75:				rgb(180, 180, 180);
		$color-grey-80:				rgb(175, 175, 175);
		$color-grey-85:				rgb(170, 170, 170);
		$color-grey-90:				rgb(165, 165, 165);
		$color-grey-95:				rgb(160, 160, 160);
		$color-grey-100:			rgb(155, 155, 155);

/* # Class system
–––––––––––––––––––––––––––––––––––––––––––––––––– */

		.bg-primary        			{ background-color: $color-primary!important; }
		.bg-primary-light   		{ background-color: $color-primary-light!important; }
		.bg-primary-dark   			{ background-color: $color-primary-dark!important; }

		.bg-complement     			{ background-color: $color-complement!important; }
		.bg-complement-light		{ background-color: $color-complement-light!important; }
		.bg-complement-dark   		{ background-color: $color-complement-dark!important; }

		.bg-info           			{ background-color: $color-info!important; }
		.bg-danger        	 		{ background-color: $color-danger!important; }
		.bg-success       			{ background-color: $color-success!important; }

		.bg-grey-05					{ background-color: $color-grey-05!important; }
		.bg-grey-10					{ background-color: $color-grey-10!important; }
		.bg-grey-15					{ background-color: $color-grey-15!important; }
		.bg-grey-20					{ background-color: $color-grey-20!important; }
		.bg-grey-25					{ background-color: $color-grey-25!important; }
		.bg-grey-30					{ background-color: $color-grey-30!important; }
		.bg-grey-35					{ background-color: $color-grey-35!important; }
		.bg-grey-40					{ background-color: $color-grey-40!important; }
		.bg-grey-45					{ background-color: $color-grey-45!important; }
		.bg-grey-50					{ background-color: $color-grey-50!important; }
		.bg-grey-55					{ background-color: $color-grey-55!important; }
		.bg-grey-60					{ background-color: $color-grey-60!important; }
		.bg-grey-65					{ background-color: $color-grey-65!important; }
		.bg-grey-70					{ background-color: $color-grey-70!important; }
		.bg-grey-75					{ background-color: $color-grey-75!important; }
		.bg-grey-80					{ background-color: $color-grey-80!important; }
		.bg-grey-85					{ background-color: $color-grey-85!important; }
		.bg-grey-90					{ background-color: $color-grey-90!important; }
		.bg-grey-95					{ background-color: $color-grey-95!important; }
		.bg-grey-100				{ color: $color-grey-100!important; }

		.text-primary        	  	{ color: $color-primary!important; }
		.text-primary-light   	    { color: $color-primary-light!important; }
		.text-primary-dark    	   	{ color: $color-primary-dark!important; }
	
		.text-complement       	  	{ color: $color-complement!important; }
		.text-complement-light 	  	{ color: $color-complement-light!important; }
		.text-complement-dark  	  	{ color: $color-complement-dark!important; }

		.text-info               	{ color: $color-info!important; }
		.text-danger         	    { color: $color-danger!important; }
		.text-success      	      	{ color: $color-success!important; }

		.text-grey-05				{ color: $color-grey-05!important; }
		.text-grey-10				{ color: $color-grey-10!important; }
		.text-grey-15				{ color: $color-grey-15!important; }
		.text-grey-20				{ color: $color-grey-20!important; }
		.text-grey-25				{ color: $color-grey-25!important; }
		.text-grey-30				{ color: $color-grey-30!important; }
		.text-grey-35				{ color: $color-grey-35!important; }
		.text-grey-40				{ color: $color-grey-40!important; }
		.text-grey-45				{ color: $color-grey-45!important; }
		.text-grey-50				{ color: $color-grey-50!important; }
		.text-grey-55				{ color: $color-grey-55!important; }
		.text-grey-60				{ color: $color-grey-60!important; }
		.text-grey-65				{ color: $color-grey-65!important; }
		.text-grey-70				{ color: $color-grey-70!important; }
		.text-grey-75				{ color: $color-grey-75!important; }
		.text-grey-80				{ color: $color-grey-80!important; }
		.text-grey-85				{ color: $color-grey-85!important; }
		.text-grey-90				{ color: $color-grey-90!important; }
		.text-grey-95				{ color: $color-grey-95!important; }
		.text-grey-100				{ color: $color-grey-100!important; }

		.text-white					{ color: white!important; }