/* # Grid core
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	$grid-width:				960px;
	$grid-columns:				12;
	$gutter-size: 				2%;
	$base-margin: 				20px;
	$base-padding: 				$base-margin / 2;

	$col-size: 100 / $grid-columns * 1%;

	@mixin col( $x : 1 ) {
		float: left;
		width: $col-size * $x - $gutter-size;
	}

	@mixin offset( $offset : 1 ) {
		margin-left: ($col-size * $offset) + $gutter-size / 2;
	}

	@mixin clearfix() {
		content: "";
		display: table;
		clear: both;
		min-height: 0px;
		overflow: hidden;
		display: block;
	}

/* # Class system
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	.pull-right { float: right; }
	.pull-left { float: left; }

	.clearfix		{ @include clearfix(); }

	.container {
		position:		relative;
		width: 			60%;
		max-width: 		$grid-width; 
		display: 		block;
		margin:			0 auto;
		@include 		clearfix();

		.row {
			@include 		clearfix();
			img[src$='.jpeg'], img[src$='.jpg'], img[src$='.png'] { 
				max-width:100%; 
			}
		}
		.col {
			width: 100%;
		}

	}

	
	@include desktop {

		.container {

			width: 100%;

			.col {

				// &:first-child { margin-left:0; }
				// &:last-child { margin-right:0; }

				margin: 0 $gutter-size / 2;
				box-sizing:		border-box;

				&.one 	 	{ @include col(1);   }
				&.two 	 	{ @include col(2);   }
				&.three  	{ @include col(3);   }
				&.four 	 	{ @include col(4);   }
				&.five 	 	{ @include col(5);   }
				&.six 	 	{ @include col(6);   }
				&.seven  	{ @include col(7);   }
				&.eight 	{ @include col(8);   }
				&.nine 	 	{ @include col(9);   }
				&.ten 		{ @include col(10);  }
				&.eleven 	{ @include col(11);  }
				&.twelve 	{ @include col(12);  }	

				&.alpha 	{ margin-left:0; }
				&.omega		{ margin-right:0; }

				&.offset-one	{ @include offset(1);  }
				&.offset-two	{ @include offset(2);  }
				&.offset-three	{ @include offset(3);  }
				&.offset-four	{ @include offset(4);  }
				&.offset-five	{ @include offset(5);  }
				&.offset-six	{ @include offset(6);  }
				&.offset-seven	{ @include offset(7);  }
				&.offset-eight	{ @include offset(8);  }
				&.offset-nine	{ @include offset(9);  }
				&.offset-ten	{ @include offset(10); }
				&.offset-eleven	{ @include offset(11); }
			}
			
		}
			
	}

	/* ## Margin & padding
	============================================= */

	.remove-bot 	{ margin-bottom: 	0 !important; }
	.half-bot 		{ margin-bottom: 	($base-margin / 2) !important; }
	.add-bot 		{ margin-bottom: 	 $base-margin !important; }
	.double-bot 	{ margin-bottom: 	($base-margin * 2) !important; }
	.quad-bot 		{ margin-bottom: 	($base-margin * 4) !important; }
	.octo-bot 		{ margin-bottom: 	($base-margin * 8) !important; }


	.remove-top 	{ margin-top: 		0 !important; }
	.half-top 		{ margin-top: 		($base-margin / 2) !important; }
	.add-top 		{ margin-top: 		 $base-margin !important; }
	.double-top 	{ margin-top: 		($base-margin * 2) !important; }
	.quad-top 		{ margin-top: 		($base-margin * 4) !important; }
	.octo-top 		{ margin-top: 		($base-margin * 8) !important; }


	.remove-padding	{ padding: 			0 !important; }
	.half-padding	{ padding: 			($base-padding / 2) !important; }
	.add-padding	{ padding: 			 $base-padding !important; }
	.double-padding	{ padding: 			($base-padding * 2) !important; }
	.quad-padding	{ padding: 			($base-padding * 4) !important; }


	.remove-left 	{ margin-left: 	0 !important; }
	.half-left 		{ margin-left: 	($base-margin / 2) !important; }
	.add-left 		{ margin-left: 	 $base-margin !important; }
	.double-left 	{ margin-left: 	($base-margin * 2) !important; }
	.quad-left 		{ margin-left: 	($base-margin * 4) !important; }
	.octo-left 		{ margin-left: 	($base-margin * 8) !important; }


	.remove-right 	{ margin-right: 		0 !important; }
	.half-right		{ margin-right: 		($base-margin / 2) !important; }
	.add-right		{ margin-right: 		 $base-margin !important; }
	.double-right 	{ margin-right: 		($base-margin * 2) !important; }
	.quad-right		{ margin-right: 		($base-margin * 4) !important; }
	.octo-right		{ margin-right: 		($base-margin * 8) !important; }

