$font-georgia:          	Georgia, "Times New Roman", Times, serif;

$font-helvetica:         	"Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-lucida-grande:     	"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$font-verdana:           	Verdana, Geneva, sans-serif;

$font-pt-serif:				"PtSerif", Times;
$font-raleway:				"Raleway", sans-serif;
$font-open-sans:			"Oswald", sans-serif;

$font-monospace:        	"Bitstream Vera Sans Mono", Consolas, Courier, monospace;

$ratio: $perfect-fourth;

$title-size: 2.4rem;
$title-font: "Oswald", monospace;
$text-size: 1.6rem;
$text-font: "Open Sans";
