.wrapper {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    overflow: hidden;
    resize: none;
    box-shadow: none;
    white-space: pre-wrap;
    margin-top: -5px;
    margin-left: -5px;
}
