.root {
    height: 100%;
    width: 100%;
    position: relative;
    outline: none;
    cursor  : auto;
    padding: 15px;
    padding-top: 50px;
    box-shadow : 0px, 0px, 5px, rgba( 0, 0, 0, 0.1 );
    transition : all 200ms ease-in-out;
}

.aggregate {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    overflow: hidden;
    resize: none;
    box-shadow: none;
    white-space: pre-wrap;
    margin-top: -5px;
    margin-left: -5px;
}


.dragging {
    box-shadow : 0px, 0px, 10px, rgba( 0, 0, 0, 0.5 );
    cursor: -webkit-grab;
}

.iconActive {
    color : black!important;
}
