#board {
    position: asbolute;
    top: 0;
    left: 0;
    cursor: move;
    @include unselectable();
}

.board-background {
    position: fixed;
    top : 0;
    left : 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, 0.25 );
    background-size: cover !important;
    z-index: 1;
}

.board-drawing-background {
    position: absolute;
    top : 0;
    left : 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.blur, .blur-polyfill {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.blur {
    backdrop-filter : blur(10px) contrast(0.4) brightness(1.4);
    -webkit-backdrop-filter : blur(10px) contrast(0.4) brightness(1.4);

    & + * {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

.blur-polyfill {
    background: rgba(255,255,255,.25);
}

.pac-container {
    z-index: 2100000;
}

.icon.icon-line {
    display: block;
    height: 1px;
    width: 16px;
    border: 0;
    border-top: 2px solid white;
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 0;
}

.active {
    .icon.icon-line {
        border-top: 2px solid grey;
    }
}
