.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    outline: none;
    cursor  : auto;
    padding: 15px;
    padding-top: 50px;
    box-shadow : 0px, 0px, 5px, rgba( 0, 0, 0, 0.1 );
    transition : all 200ms ease-in-out;
}

.dragging {
    box-shadow : 0px, 0px, 10px, rgba( 0, 0, 0, 0.5 );
    cursor: -webkit-grab;
}

.iconActive {
    color : black!important;
}
