.common {
    z-index : 210000 - 1;
    position : absolute;
    top : 0;
    left : 0;
}

.oldCanvas {
    composes : common;
}

.canvas {
    composes : common;
    cursor : crosshair;
}

.cursorEraser {
    composes : common;
    cursor : url(../utils/eraser-cursor.png) 0 16, auto;
}
